<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Public JS AND CSS libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Public JS AND CSS libraries -->
        <link href="/static/css/main.css" rel="stylesheet" type= "text/css">
        <script src="/static/js/main.js" ></script>
        {% block libraries %}{% endblock %}
    </head>

    <body>
        <div class="w3-bar" style="background-color: rgb(208, 226, 206);">
            <a id="menu_1" href="{{ url_for('tab1.get_userlist') }}" style="width:25%" class="w3-bar-item w3-button w3-mobile tablink {{active_menu_1}}">
                Basic Calculations
            </a>
            <a id="menu_2" href="{{ url_for('tab2.variacional_calculus') }}" style="width:25%" class="w3-bar-item w3-button w3-mobile tablink {{active_menu_2}}">
                variational Calculations
            </a>
            <a id="menu_3" href="{{ url_for('tab3.graphic_view') }}" style="width:25%" class="w3-bar-item w3-button w3-mobile tablink {{active_menu_3}}">
                Graphic View
            </a>
            <a id="menu_4" href="{{ url_for('tab4.data_table') }}" style="width:25%" class="w3-bar-item w3-button w3-mobile tablink {{active_menu_4}}">
                Data Table
            </a>
        </div>

        {% block content %}
        {% endblock %}   
    </body>

</html>