{% extends "html/base_template.html" %}

{% block title %}Basic air Properties{% endblock %}

{% block libraries %}
    <!-- Specific library for this module -->
    <script src="/static/js/basic_calculations.js" ></script>
{% endblock %}

{% block content %}

    <div class="maincontent">
        <div class="slidecontainer">
            <p class="slider_title">
                Temperature [°C] 
            </p>
            <form>
                <input name="foo" type="range" min="-10" max="100" value="20" step="0.1" class="slider" id="temperature">
                <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
            </form>
            <p class="slider_title">
                Relative Humidity [%]
            </p>
            <form>
                <input name="foo" type="range" min="0" max="100" value="65" step="0.1" class="slider" id="relative_humidity">
                <output for="foo" onforminput="value = foo.valueAsNumber;"></output>
            </form>
        </div>

        <div id="tableDiv" class="tableDiv"></div>
    </div>
    {% with articles=active_menu_1, hola=33 %}
        {% include "html/test.html" %}
    {% endwith %}

{% endblock %}