{% extends "html/base_template.html" %}

{% block title %}Graphic View{% endblock %}

{% block libraries %}
    <!-- Specific library for this module -->
    <script src="/static/js/graphic_view.js" ></script> 
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
{% endblock %}

{% block content %}

<div class="maincontent">
    <div class="slidecontainer">
        {% with title="Temperature [°C]", id="temperature", init_value=20, min=-10, max=100, step=0.1 %}
            {% include "html/slider.html" %}
        {% endwith %}
    </div>
</div>

<div id="chartdiv" style="height:50%;"></div>

{% endblock %}