body {
    background: rgb(236, 230, 230);
}

.maincontent {
    width: 100%;
    margin: 0 auto;
    text-align: -webkit-center;
}

.slidecontainer {
    width: 500px;
    text-align: center
}

.slider_sub_container {
    display: inline-block;
    width:49%
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider_title {
    font-size: 20px;
    text-align: center;
}

.slider_title_2 {
    font-size: 11px;
    text-align: center;
}

.tableDiv {
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
}

output { 
    pointer-events: none;
    position: absolute;
    width: 35px; 
    height: 21px; 
    text-align: center; 
    color:black;  
    display: inline-block; 
    bottom: 28%;
    left: 0;
    margin-left: -1%;
}

form { 
    position: relative; 
    margin: 0%;
}

@media (max-width: 500px) {
    .tableDiv {
        width: 95%;
        font-size: 15px;
    }

    .slidecontainer {
        width: 95%;
    }
}