{% extends "base_template.html" %}

{% block title %}Air Properties{% endblock %}

{% block libraries %}
    <!-- Specific library for this module -->
    <script src="/static/js/basic_calculations.js" ></script>
{% endblock %}

{% block content %}
    <div class="maincontent">
        <div class="slidecontainer">
            <p class="slider_title">
                Temperature: 
                <span id="temperature_value"></span>
            </p>
            <input type="range" min="-10" max="100" value="20" step="0.1" class="slider" id="temperature">
            <p class="slider_title">
                Relative Humidity:
                <span id="relative_humidity_value"></span>
            </p>
            <input type="range" min="0.1" max="100" value="65" step="0.1" class="slider" id="relative_humidity">
        </div>

        <div id="tableDiv" class="tableDiv"></div>
    </div>

{% endblock %}