{% extends "base_template.html" %}

{% block title %}Test{% endblock %}

{% block content %}

    <div class="slidecontainer">
        <p class="slider_title">
            Temperature: 
            <span id="temperature_value"></span>
        </p>
        <input type="range" min="-10" max="100" value="20" class="slider" id="temperature">
        <p class="slider_title">
            Relative Humidity:
            <span id="relative_humidity_value"></span>
        </p>
        <input type="range" min="0" max="100" value="65" class="slider" id="relative_humidity">
    </div>

    <button onclick="ajaxWithRefresh();">add user refrehing page</button>

{% endblock %}